$base-font-family: 'DM Sans', sans-serif;
$heading-font-family: 'DM Serif Text', serif;

body {
    font-family: $base-font-family;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
}

.aux-nav {
    display: none !important;
}